
.nostylelink {
    text-decoration:solid;
    color:black;
}
.nostylelink:hover {
    text-decoration:none;

    color:rgb(165, 30, 55);
}
.main_wrapper {
    margin-right: auto;
    overflow:auto;
    width: 1200px;
    margin-left: auto;
    align-content: center;
    font: Arial;
}

.info_table{
    font: normal 14px Arial;
    overflow: hidden;
    border: 0 solid rgb(232, 225, 208);
    -webkit-border-radius: 3px;
    /*-moz-border-radius: 3px;*/
    border-radius: 3px;
    background-color: rgb(232, 225, 208);
    color: black;
}
.info_table tbody .alt td {
    background: white;
    color: black;
}

table.info_table tr.odd { background-color: white; }
table.info_table tr.even { background-color: rgb(240, 235, 224); }

.wrapper {
    margin-top: 20pt;
    margin-right: auto;
    overflow:auto;
    /*width: 980px;*/
    margin-left: auto;
    align-content: center;

}

.hidden {
    display: none;
}

.standard_text {
    font-size: 18px;
}

.title {
    align-content: center;
    text-align: center;
    color: rgb(165, 30, 55);
    font-size: 50px;
    font-weight: bold;
}

.nice_button {
    position: relative;
    /*vertical-align: auto;*/
    width: 100%;
    height: 25px;
    /*padding: 5px;*/
    /*padding-bottom: 5px;*/
    font-size: 16px;
    color: black;
    text-align: center;
    margin: 1pt;
    /*text-shadow: rgb(217, 205, 177);*/
    background: rgb(180, 160, 105);
    border: 0;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px rgb(180, 160, 105);
    box-shadow: inset 0 -2px rgb(180, 160, 105);
}

button.nice_button:active {
    top: 1px;
    outline: none;
}

/* home table style*/
.homegrid table {
    border-collapse: collapse;
    text-align: left;
}


.homegrid {
    width: 300pt;
    font: normal 12px Arial;
    background: #fff;
    overflow: hidden;
    border: 0 solid rgb(180, 160, 105);
    -webkit-border-radius: 3px;
    /*-moz-border-radius: 3px;*/
    border-radius: 3px;
}


.homegrid table td, .homegrid table th {
    padding: 1px 3px;
}

.homegrid table thead th {
     background-color: rgb(195, 178, 133);
    color: black;
}

.homegrid table thead th:first-child {

}

.homegrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: normal;
}

.homegrid table tbody .alt td {
    background: rgb(232, 225, 208);
    color: black;
}

.homegrid table tbody td:first-child {
    border-left: none;
}

.homegrid table tbody tr:last-child td {
    border-bottom: none;
}

/* upload table style */
.datagrid table {
    border-collapse: collapse;
    text-align: left;
}


.datagrid {
    width: 100%;
    font: normal 11px Arial;
    background: #fff;
    overflow: hidden;
    border: 0 solid rgb(180, 160, 105);
    -webkit-border-radius: 3px;
    /*-moz-border-radius: 3px;*/
    border-radius: 3px;
}


.datagrid table td, .datagrid table th {
    padding: 1px 3px;
}

.datagrid table thead th {

     background-color: rgb(195, 178, 133);
    color: black;
}

.datagrid table thead th:first-child {

}

.datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 10px;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: rgb(232, 225, 208);
    color: black;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

/* autocomplete */
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
    font-size: 14px !important;
}

/* tooltips */

  .ui-tooltip {
    width: auto;
    font-size: 12px !important;
  }

  .ui-datepicker {
	width: auto !important;
    font-size: 14px !important;
}




/* update table style*/
.updategrid table {
    border-collapse: collapse;
    text-align: left;
}


.updategrid {
    /*width: 300pt;*/
    font: normal 12px Arial;
    background: #fff;
    overflow: hidden;
    border: 0 solid rgb(180, 160, 105);
    -webkit-border-radius: 3px;
    /*-moz-border-radius: 3px;*/
    border-radius: 3px;
}


.updategrid table td, .updategrid table th {
    padding: 1px 3px;
}

.updategrid table thead th {
     background-color: rgb(195, 178, 133);
    color: black;
}

.updategrid table thead th:first-child {

}

.updategrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: normal;
}

.updategrid table tbody .alt td {
    background: rgb(232, 225, 208);
    color: black;
}

.updategrid table tbody td:first-child {
    border-left: none;
}

.updategrid table tbody tr:last-child td {
    border-bottom: none;
}