* {
    font-family: FF zwo, sans-serif;
}

html body {
    /*background-color: rgb(244, 244, 244);*/
    margin: 0;
    padding: 0;
    height: 100%;
    /*background-image: url("/static/images/body_bg.png");*/
}

.circles {
    width: 390px;
    height: 400px;
    float: left;
    position: relative;
}

.sub_circle {
    text-decoration: solid;
    color: black;
    font-size: 16px;
    /*text-shadow: rgb(217, 205, 177);*/

    background: rgb(180, 160, 105);
    -webkit-box-shadow: inset 0 -2px rgb(180, 160, 105);
    box-shadow: inset 0 -2px rgb(180, 160, 105);
}

.circles ul {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.nostylelink {
    text-decoration: solid;
    color: black;
}

.nostylelink:hover {
    text-decoration: none;

    color: rgb(165, 30, 55);
}

.boxed {
    background: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #DDD inset;
    color: #666;
    outline: none;
}

#content_div {
    background-color: white;
    min-height: 100%;

    padding-bottom: 20px;
}

#header {
    height: 100px;
    padding-top: 10px;
    background-color: white;
}

#footer {
    /*position:absolute;*/
    /*bottom: 20px;*/
    height: 30px;
    /*height: auto;*/
    background-color: white;
}

#main_container {
    background-color: white;
    min-height: 90vh;
    display: flex;
    /*// Direction of the items, can be row or column*/
    flex-direction: column;
    /*height: 100%;*/
    width: 1200px;
    margin: 0 auto;

    /*min-height:100%;*/
    /*position:relative;*/
}

main {

    flex: 1;
}

.main_wrapper {

    margin-right: auto;
    overflow: auto;
    width: 1200px;
    margin-left: auto;
    align-content: center;
    /* review may break if page to wide */
    overflow-x: hidden;
}

.tissue_table {
    font: normal 14px;
    border: 1px solid black;
    table-layout: fixed;
    width: 800px;
}

.tissue_table tbody td {
    background: lightgrey;
}

.info_table {
    font: normal 14px;
    width: 500px;
    text-align: left;
    /*overflow: hidden;*/
    border: 0 solid rgb(232, 225, 208);
    -webkit-border-radius: 3px;
    /*-moz-border-radius: 3px;*/
    border-radius: 3px;
    background-color: rgb(232, 225, 208);
    color: black;
}


th {
    font-size: 10px;
    font-weight: bold;
}
 tbody {
     font-size: 12px;
     font-weight: normal;
 }

.info_table thead {
}

.info_table tbody .alt th {
    background: white;
    color: black;
}

.info_table tbody .alt td {
    background: white;
    color: black;
}

table.info_table tr.odd {
    background-color: white;
}

table.info_table tr.even {
    background-color: rgb(240, 235, 224);
}

.wrapper {
    margin-top: 20pt;
    margin-right: auto;
    overflow: auto;
    /*width: 980px;*/
    margin-left: auto;
    align-content: center;

}

.hidden {
    display: none;
}

.standard_text {
    font-size: 18px;
}

/*.footer {*/
/*clear:left;*/
/*margin-top:1em;*/
/*background:#efefef;*/
/*text-align:center;*/
/*padding:10px;*/
/*}*/

.title {
    align-content: center;
    text-align: center;
    color: rgb(165, 30, 55);
    font-size: 28px;
    font-weight: bold;
    float: left;
}

.title_wrapper {
    /*display: inline-block;*/
}

.logo {
    align-content: center;
    position: relative;
    width: 200px;
    float: left
}

.nice_dropdown {
    font-size: 16px;
}

.nice_dropdown_boolean {
    font-size: 16px;
}

.nice_select_menu {
    font-size: 16px;
}

.nice_input {
    font-size: 16px;
}

input {
    font-size: 16px;
}

.nice_button {
    position: relative;
    /*vertical-align: auto;*/
    width: 100%;
    height: 25px;
    /*padding: 5px;*/
    /*padding-bottom: 5px;*/
    font-size: 18px;
    color: black;
    text-align: center;
    margin: 1pt;
    /*text-shadow: rgb(217, 205, 177);*/
    background: rgb(180, 160, 105);
    border: 0;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px rgb(180, 160, 105);
    box-shadow: inset 0 -2px rgb(180, 160, 105);
}

button.nice_button:active {
    top: 1px;
    outline: none;
}

.homegrid {
    width: 300pt;
    overflow: hidden;
    text-align: left;
}

/* upload table style */
.datagrid table {
    border-collapse: collapse;
    text-align: left;
}

.datagrid {
    width: 100%;
    font: normal 11px;
    background: #fff;
    overflow: hidden;
    border: 0 solid rgb(180, 160, 105);
    -webkit-border-radius: 3px;
    /*-moz-border-radius: 3px;*/
    border-radius: 3px;
}

.datagrid table td, .datagrid table th {
    padding: 1px 3px;
}

.datagrid table thead th {

    background-color: rgb(195, 178, 133);
    color: black;
}

.datagrid table thead th:first-child {

}

.datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 10px;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: rgb(232, 225, 208);
    color: black;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

/* autocomplete */
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
    font-size: 14px !important;
}

/* tooltips */

.ui-tooltip {
    width: auto;
    font-size: 12px !important;
}

.ui-datepicker {
    width: auto !important;
    font-size: 14px !important;
}

/* update table style*/
.updategrid table {
    border-collapse: collapse;
    text-align: left;
}

.updategrid {
    /*width: 300pt;*/
    font: normal 12px Arial;
    background: #fff;
    overflow: hidden;
    border: 0 solid rgb(180, 160, 105);
    -webkit-border-radius: 3px;
    /*-moz-border-radius: 3px;*/
    border-radius: 3px;
}

.updategrid table td, .updategrid table th {
    padding: 1px 3px;
}

.updategrid table thead th {
    background-color: rgb(195, 178, 133);
    color: black;
}

.updategrid table thead th:first-child {

}

.updategrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: normal;
}

.updategrid table tbody .alt td {
    background: rgb(232, 225, 208);
    color: black;
}

.updategrid table tbody td:first-child {
    border-left: none;
}

.updategrid table tbody tr:last-child td {
    border-bottom: none;
}

.orphan_table {
    font-size: 14px;
    overflow: hidden;
    border: 0 solid rgb(232, 225, 208);
    -webkit-border-radius: 3px;
    /*-moz-border-radius: 3px;*/
    border-radius: 3px;
    background-color: rgb(232, 225, 208);
    color: black;
}

.orphan_table tbody .alt td {
    background: white;
    color: black;
}

table.orphan_table tr.odd {
    background-color: white;
}

table.orphan_table tr.even {
    background-color: rgb(240, 235, 224);
}

.protein_sequence {
    font: 14px;
    overflow: hidden;
    border: 0 solid rgb(232, 225, 208);
    -webkit-border-radius: 3px;
    /*-moz-border-radius: 3px;*/
    border-radius: 3px;
    background-color: rgb(232, 225, 208);
    color: black;
    font-family: monospace, monospace !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    text-align: left !important
    /*background: white;*/
}

.protein_sequence tbody .alt td {

    background: white;
    color: black;

    font-family: monospace, monospace !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    text-align: left !important
}

.protein_sequence p {
    font-family: monospace, monospace !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    text-align: left !important margin-bottom : 0 px;
    margin-top: 0px;
    /*background: white;*/
    color: black;
}

/*table.protein_sequence tr.odd { background-color: white; }*/
/*table.protein_sequence tr.even { background-color: rgb(240, 235, 224); }*/

button {
    color: black;
    text-align: center;
    margin: 1pt;
    background: rgb(180, 160, 105);
    border: 0;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px rgb(180, 160, 105);
    box-shadow: inset 0 -2px rgb(180, 160, 105);
}


/*Canvas styles */
.canvas-holder  {
    float:left;
    clear: both;
    width:33.3%;
    padding-bottom: 30px;
}
