#menu
{
   width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
#sddm
{
    margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{
    margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: 16px arial;
color: black;}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 150px;
    background: rgb(180, 160, 105);
    -webkit-box-shadow: inset 0 -2px rgb(180, 160, 105);
    box-shadow: inset 0 -2px rgb(180, 160, 105);
    color: black;

	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	color: #ffffff;
    background: rgb(165, 30, 55);
    -webkit-box-shadow: inset 0 -2px rgb(165, 30, 55);
    box-shadow: inset 0 -2px rgb(165, 30, 55); }

#sddm div
{
    position: absolute;
	visibility: hidden;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid rgb(180, 160, 105)}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #EAEBD8;
		color: black;
		font: 13px arial}

	#sddm div a:hover
	{	background: rgb(165, 30, 55);
		color: #FFF}