.circle-container {
    position: relative;
}

.circle-container div {
    display: table;
    vertical-align: middle;
    overflow: visible;
    position: absolute;


    top: 50%; left: 50%;
    width: 150px; height: 70px;
    /* border: 1px solid crimson; */
    margin: -35px -75px; /* half the width */
}

.circle-container a.picture-link {

    display: table;
    vertical-align: middle;
    overflow: visible;
    top: 50%; left: 50%;
    width: 150px; height: 70px;
}
.table-dropdown-menu {
    position: relative;
}


.vertical-center {
    display: table-cell;
    vertical-align: middle;
    width: 70px;
}

.circle-container a img {

    width: 70px;
    height:70px;
}

.circle-container a.left {
    text-align: right;
}
.circle-container a.left img{
    float: right;
}
.circle-container a.right {
    text-align: left;
}
.circle-container a.right img{
    float: left;
}
.center-image {
    height:40vw;
    width: 40vw;
}


/* Mobile View */
@media (max-width: 767.99999px) {
    .circle-container a {
        position: relative;
        margin: 0px;
        left: auto;
        top:auto;
    }
    /* left side from top */
    .left-container {
        position: relative;
        float: left;
        text-align: right;
    }
    .right-container {
        position: relative;
        float: right;
        text-align: left;
    }
    .center-image {
        position: absolute;
        top: 50vh;
        left: 50vw;
        margin-top: -25vh;
        margin-left: -25vw;
        height:50vw;
        width: auto;
    }
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* left side from top */
    .item1 { transform: rotate(222deg) translate(25vw) rotate(-222deg); z-index: 10;}
    .item2 { transform: rotate(208deg) translate(25vw) rotate(-208deg); z-index: 9;}
    .item3 { transform: rotate(194deg) translate(25vw) rotate(-194deg); z-index: 8;}
    .item4 { transform: translate(-25vw); z-index: 7;} /* 180 degrees */
    .item5 { transform: rotate(166deg) translate(25vw) rotate(-166deg); z-index: 6;}
    .item6 { transform: rotate(152deg) translate(25vw) rotate(-152deg); z-index: 5;}
    .item7 { transform: rotate(138deg) translate(25vw) rotate(-138deg); z-index: 4;}

    /* right side from top */
    .item8  { transform: rotate(318deg) translate(25vw) rotate(-318deg); z-index: 10;}
    .item9  { transform: rotate(332deg) translate(25vw) rotate(-332deg); z-index: 9;}
    .item10 { transform: rotate(346deg) translate(25vw) rotate(-346deg); z-index: 8;}
    .item11 { transform: translate(25vw); z-index: 7;} /* 0 degrees */
    .item12 { transform: rotate(14deg) translate(25vw) rotate(-14deg); z-index: 6;}
    .item13 { transform: rotate(28deg) translate(25vw) rotate(-28deg); z-index: 5;}
    .item14 { transform: rotate(42deg) translate(25vw) rotate(-42deg); z-index: 4;}

    /*!* left side from top *!*/
    /*.item1 { transform: rotate(210deg) translate(40vw) rotate(-210deg); z-index: 10; }*/
    /*.item2 { transform: rotate(200deg) translate(40vw) rotate(-200deg); z-index: 9;}*/
    /*.item3 { transform: rotate(190deg) translate(40vw) rotate(-190deg); z-index: 8;}*/
    /*.item4 { transform: translate(-40vw); z-index: 7;} !* 180 degrees *!*/
    /*.item5 { transform: rotate(170deg) translate(40vw) rotate(-170deg); z-index: 6;}*/
    /*.item6 { transform: rotate(160deg) translate(40vw) rotate(-160deg); z-index: 5;}*/
    /*.item7 { transform: rotate(150deg) translate(40vw) rotate(-150deg); z-index: 4;}*/

    /*!* right side from top *!*/
    /*.item8  { transform: rotate(330deg) translate(40vw) rotate(-330deg); z-index: 10;}*/
    /*.item9  { transform: rotate(340deg) translate(40vw) rotate(-340deg); z-index: 9;}*/
    /*.item10 { transform: rotate(350deg) translate(40vw) rotate(-350deg); z-index: 8;}*/
    /*.item11 { transform: translate(40vw); z-index: 7;} !* 0 degrees *!*/
    /*.item12 { transform: rotate(10deg) translate(40vw) rotate(-10deg); z-index: 6;}*/
    /*.item13 { transform: rotate(20deg) translate(40vw) rotate(-20deg); z-index: 5;}*/
    /*.item14 { transform: rotate(30deg) translate(40vw) rotate(-30deg); z-index: 4;}*/
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    /* left side from top */
    .item1 { transform: rotate(222deg) translate(25vw) rotate(-222deg); z-index: 10;}
    .item2 { transform: rotate(208deg) translate(25vw) rotate(-208deg); z-index: 9;}
    .item3 { transform: rotate(194deg) translate(25vw) rotate(-194deg); z-index: 8;}
    .item4 { transform: translate(-25vw); z-index: 7;} /* 180 degrees */
    .item5 { transform: rotate(166deg) translate(25vw) rotate(-166deg); z-index: 6;}
    .item6 { transform: rotate(152deg) translate(25vw) rotate(-152deg); z-index: 5;}
    .item7 { transform: rotate(138deg) translate(25vw) rotate(-138deg); z-index: 4;}

    /* right side from top */
    .item8  { transform: rotate(318deg) translate(25vw) rotate(-318deg); z-index: 10;}
    .item9  { transform: rotate(332deg) translate(25vw) rotate(-332deg); z-index: 9;}
    .item10 { transform: rotate(346deg) translate(25vw) rotate(-346deg); z-index: 8;}
    .item11 { transform: translate(25vw); z-index: 7;} /* 0 degrees */
    .item12 { transform: rotate(14deg) translate(25vw) rotate(-14deg); z-index: 6;}
    .item13 { transform: rotate(28deg) translate(25vw) rotate(-28deg); z-index: 5;}
    .item14 { transform: rotate(42deg) translate(25vw) rotate(-42deg); z-index: 4;}
}